*{
    margin: 0%;
    padding: 0%;
  }
  
  .full{
    color:white;
    background-color: #343434;
    text-align: center;
  }
  
  .container {
    height: 68vh;
    width: 80vh;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
  }
  p{
    font-family: Jazz LET, fantasy;
  }
  h1{
    font-family: Jazz LET, fantasy;
  }
  .boxes{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    align-items: center;
    gap:0.7vmin;
    background-color: #ffa500;
    border-radius: 22px;
    border: 3.99px solid black;
  }
  
  .box{
    height: 32.5%;
    width: 32.5%;
    font-size: 10vmin;
    color: orange;
    background-color: white;
  }
  
  #tr{
    border-top-right-radius: 20px;
  }
  
  #tl{
    border-top-left-radius: 20px;
  }
  #br{
    border-bottom-right-radius: 20px;
  }
  #bl{
    border-bottom-left-radius: 20px;
  }
  
  /*button start*/
  
  .resetBtn {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.7em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }
  
  /*button end */
  
  /*title*/
  /* === removing default button style ===*/
  .but {
    margin: 35%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    background: black;
    border: 10px solid black;
    border-radius: 10px;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* button styling */
  .but {
    --border-right: 6px;
    --text-stroke-color: rgba(255,255,255,0.6);
    --animation-color: #ff9437;
    --fs-size: 2.3em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  /* this is the text, when you hover on button */
  .hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
  }
  /* hover */
  .but:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
  }
  
  /* new game button*/
  
  .newgameBtn {
  
    margin-left: 44%;
    --😀: #ffa500;
    --😀😀: #B37400;
    --😀😀😀: #915E00;
    cursor: pointer;
    width: 184px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: var(--😀);
    border: 2px solid var(--😀😀);
    border-radius: .75rem;
    box-shadow: 0 8px 0 var(--😀😀);
    transform: skew(-10deg);
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px var(--😀😀😀));
  }
  
  .newgameBtn:active {
    letter-spacing: 0px;
    transform: skew(-10deg) translateY(8px);
    box-shadow: 0 0 0 var(--😀😀😀);
  }
  /* END*/
  
  .hide{
   display: none;
  }
  
  p{
    font-size: 35px;
  }
  
  .showWin{
    margin: 0px;
    padding: 0px;;
  }

  @media (max-width:450px){

    .container {
        height: 75vh;
        width: 135%;
    }
    .boxes{
        height: 150vmin;
        width: 150vmin;
        gap:1.6vmin;
    }

    .box{
        font-size: 34vmin;
    }

    .resetBtn {
        font-size: 50px;
        margin-left: 170px;
        margin-top: 30px;
    }

    .newgameBtn {
        margin-left: 42%;
        width: 245px;
        height: 82px;
        font-size: 2.125em;
    }

    .but{
        height: 130px;
        width: 450px;
        --fs-size: 60px;
        padding-top: 30px;
        margin-left: 60px;
        position: relative;
        --border-right: 6px;
        --text-stroke-color: rgba(255, 255, 255, 0.6);
        --animation-color: #ff9437;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    }

    .hover-text {
        padding-top: 30px;
    }

    .but:hover .hover-text {
        padding-top: 30px;
    }

    .showWin{
        margin-left: 173px;
      }
  }

  @media (min-width:450px) and (max-width:700px) {
    .container {
        height: 60vh;
        width: 100%;
    }
    .boxes{
        height: 100vmin;
        width: 100vmin;
        gap:0.8vmin;
    }

    .box{
        font-size: 22vmin;
    }

    .resetBtn {
        font-size: 40px;
        margin-left: 5px;
        margin-top: 10px;
    }

    .newgameBtn {
        margin-left: 32%;
        width: 220px;
        height: 64px;
        font-size: 2em;
    }

    .but{
        height: 130px;
        width: 450px;
        --fs-size: 60px;
        padding-top: 30px;
        margin-left: 60px;
        position: relative;
        --border-right: 6px;
        --text-stroke-color: rgba(255, 255, 255, 0.6);
        --animation-color: #ff9437;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
    }

    .hover-text {
        padding-top: 30px;
    }

    .but:hover .hover-text {
        padding-top: 30px;
    }

    .showWin{
        margin-left: 27px;
      }
  }